[Unit]
Description=Grunt watcher

[Service]
Type=simple
PIDFile=/run/gruntwatch.pid
ExecStart={{ repo_dest }}/node_modules/grunt/bin/grunt watch
User={{ apache_user }}
Group={{ apache_user }}
WorkingDirectory={{ repo_dest }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
