<VirtualHost *:80>
	ServerName adminer.{{ ansible_fqdn }}

	ServerAdmin webmaster@{{ ansible_fqdn }}
	DocumentRoot /usr/share/adminer/adminer

	ErrorLog ${APACHE_LOG_DIR}/adminer-error.log
	CustomLog ${APACHE_LOG_DIR}/adminer-access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
